<div class="container-fluid" id="home-container">
  <div class="card text-white bg-primary mb-3">
    <div class="card-body">
      <h2 class="text-center">Magpie! A bibliotherapy for the Double.</h2>
      <%= image_tag(asset_url('magpie_icon.png'), alt: "magpie", class: "mx-auto d-block") %>
    </div>
  </div>
</div>