<footer id="footer" class="py-2 bg-dark text-white mt-4">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "sagesolar", "https://www.twitter.com/sage_solar", class:"text-white" %></small>
  </div>
</footer>